<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hypothesis Button Test</title>
</head>
<body>
    <div class = 'hypothesis_status'></div>
    <script>

        function toggle_visibility() {
            console.log('clicked');
            var e = document.querySelector('.annotator-frame');
            if(!e || e.style.display == 'none') {
                if(e)
                    e.style.display = 'block';
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = "https://hypothes.is/embed.js";
                script.async = false;
                document.head.appendChild(script);
            }
            else if (e)
                e.style.display = 'none';
        }
        function reqListener () {
            console.log(this.responseText);
            respObj = JSON.parse(this.responseText);
            var imageDiv = document.createElement("div");
            imageDiv.style.backgroundImage = "url('http://hypothesisjournal.herokuapp.com/static/icon.png')";
            imageDiv.style.backgroundRepeat = 'no-repeat';
            imageDiv.style.backgroundSize = 'contain';
            imageDiv.style.width = '25px';
            imageDiv.style.height = '30px';
            document.querySelector('.hypothesis_status').appendChild(imageDiv);
            var countDiv = document.createElement("div");
            countDiv.style.textAlign = 'center';
            countDiv.innerHTML = respObj.total;
            document.querySelector('.hypothesis_status').appendChild(countDiv);
            document.querySelector('.hypothesis_status').addEventListener("click", toggle_visibility);
        }
        document.querySelector('.hypothesis_status').style.float = 'left';
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", reqListener);
        oReq.open("GET", "https://hypothes.is//api/search?uri=" + window.location.href);
        oReq.send();
    </script>
</body>
</html>